{% extends 'admin/base_template.html' %}
{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Team Members</h1>
          </div>
          <div class="col-sm-6">
             <a href="/team_member_add" type="button" class="btn btn-outline-success float-sm-right" role="button" data-bs-toggle="button"><i class="fas fa-plus"></i> New Entry</a>
       
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Team ID</th>
                    <th>Name</th>
					<th>Email</th>
					<th>Phone</th>
                    <th>Address</th>
					<th>Image</th>
					<th>Username</th>
					<th>Display</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
				  <tr>
                    <td>Trident</td>
					<td>Trident</td>
					<td>Trident</td>
					<td>Trident</td>
					<td>Trident</td>
					<td>Trident</td>
					<td>Trident</td>
					<td>Trident</td>
					<td>Trident</td>
                    <td>
						<div class="btn-group m-0 p-0" role="group" aria-label="Basic mixed styles example">
						  <a href="#" type="button" class="btn btn-outline-primary" role="button" data-bs-toggle="button"><i class="fas fa-edit"></i></a>
						  <a href="#" type="button" class="btn btn-outline-danger" role="button" data-bs-toggle="button"><i class="far fa-trash-alt"></i></a>
						</div>
					</td>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock body %}